*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);   
}

body{

    background: linear-gradient(320deg, rgba(195, 33, 1, 1) 0%,rgba(252, 168, 0, 1) 100%);
    
    background-size: 100%;
    
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: transparent;
    width: 90vw;
    max-width: 1280px;
    height: 90vh;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: calc(var(--index));
    gap: calc(var(--index));
    justify-content: space-around;
}

.mainName{
    text-align: center;
    height: 20%;
}

.mainContcts{
    display: flex;
    justify-content: space-around;
    margin-top: calc(var(--index)*0.5);
}

.games{
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.game{
    width: 40%;
    
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: calc(var(--index));
    filter: grayscale(100%);
    background:rgba(150, 150, 150, 0.6);
    transition: all .3s ease-in-out;

}

.game:hover{
    
    filter: grayscale(0%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.game img{
    height: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
}

.game:hover img{
    
    height: 50%;
}


.playBtn{
    width: 100%;
    text-align: center;
    
}

.gameText{
    opacity: 0;
    height: 0;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game:hover .gameText{
    opacity: 1;
    height: 50%;
}

.gameName{
    margin-top: calc(var(--index)*.4);
    text-align: center;
}

.gameName::before{
    content: "";
    display: inline-block;
    width: calc(var(--index)*.7);
    height: calc(var(--index)*.7);
    margin-right: 5px ;
    background: url('/img/icons/film-slate.png');
    background-size: calc(var(--index)*.7) calc(var(--index)*.7);
}

.gameGoal{
    margin-top: calc(var(--index)*.3);
}

.gameGoal::before{
    content: "";
    display: inline-block;
    width: calc(var(--index)*.7);
    height: calc(var(--index)*.7);
    margin-right: 5px ;
    background: url('/img/icons/target.png');
    background-size: calc(var(--index)*.7) calc(var(--index)*.7);
}


.playBtn{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: #fff;
    padding: 3px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border-radius: 7px;
}

.playBtn:hover{
    background-color: rgba(255,255,255, .3);
}

.firstGame.gameName::before{
    content: "";
    display: inline-block;
    width: calc(var(--index)*.7);
    height: calc(var(--index)*.7);
    margin-right: 5px ;
    background: url('/img/icons/brainstorm.png');
    background-size: calc(var(--index)*.7) calc(var(--index)*.7);
}


@media (max-width:1300px){
    .game img{
        height: 60%;
    }

    .game{
        width: 49%;
    }
}

@media (max-width:830px){
    .container{
        height: 100%;
    }
    .games{
        flex-direction: column;
    }
    .game{
        width: 98%;
        margin-bottom: calc(var(--index)*.3);
    }

    .game img{
        height: 25vh;
    }

    .game:hover img{
        height: 20vh;
    }

    .mainContcts{
        flex-direction: column;
        text-align: left;
    }
}